body {
    background-color: rgb(252, 252, 157);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    color:rgb(23, 134, 92)
}

.image {
    text-align: center;
}